/* header styles */
.header {
    width: 900px;
    margin: 0 auto;
    padding: 20px 0;
}
ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

/* section 1 styles */
.section-1 {
    width: 900px;
    margin: 0 auto;
}
.left-box {
    float: left;
    width: 300px;
}
.right-box {
    float: right;
    width: 400px;
    height: 400px;
}
.cust-img {
    width: 100%;
    border-radius: 10px
}
.title {
    color: rgb(7, 82, 33);
    font-size: 32px;
    font-weight: bold;
}
.descrp {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.btn {
    color: white;
    background-color: rgb(7, 82, 33);
    padding: 5px;
    border-radius: 5px;
}

/* shop now styles */
.shop-title {
    font-size: 32px;
    font-weight: bold;
}
.sofa-div {
    margin-top: 15px;
    margin-bottom: 10px;
}